<h1>Exercice 9</h1>
<h2>*ngFor - Classes</h2>
<b>Employees:</b>
<table class="table-bordered table-hover">
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Position</th>
    <th>Salary</th>
    <th>Comission</th>
  </tr>
  <tr *ngFor="let e of employeesWithOrderCriteria">
    <td>{{ e.name }}</td>
    <td>{{ e.age }}</td>
    <td>{{ e.position }}</td>
    <td>{{ e.salary }}</td>
    <td>{{ e.commission }}</td>
  </tr>
</table>
<div id="buttons">
  <button (click)="sort('salary')">Order by salary</button>
  <button (click)="sort('position')">Order by position</button>
  <button (click)="sort('name')">Order by name</button>
  <button (click)="sort('age')">Order by age</button>
  <button (click)="sort('commission')">Order by commision</button>
</div>
